.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  width: 50vw;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid white;
  padding: 3px 4px;
}
